# encoding: utf-8

data_dir = "rrd_data"
graph_dir = "/var/www/latency/img"
html_dir = "/var/www/latency"
relative_path = "/latecy/"

dynamic_graphs = True

probes = {
    'ping': {
        'type': 'ping',
        'protocol': 4
    },
    'ping6': {
        'type': 'ping',
        'protocol': 6
    }
}

hosts = {
    'google.com': {'probes': ['ping', 'ping6']},
}

