# encoding: utf-8

from lib.ping import Ping

data_dir = "rrd_data"
graph_dir = "/var/www/latency/img"
html_dir = "/var/www/latency"
graph_relative = "/latency/img/"

probes = {
    'ping': {
        'type': 'ping',
        'protocol': 4
    },
    'ping6': {
        'type': 'ping',
        'protocol': 6
    }
}

hosts = {
    'google.com': {'probes': ['ping', 'ping6']},
}

